[Unit]
Description=Dapexa Celery worker
After=network.target redis-server.service

[Service]
User=%APP_USER%
Group=www-data
WorkingDirectory=%APP_DIR%
EnvironmentFile=%APP_DIR%/.env
ExecStart=%APP_DIR%/.venv/bin/celery -A BusinessManager worker --loglevel=INFO
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
